.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  align-items: flex-start;
  top: 0;
  transform: translate(-50%, 0);
}

.gradient-button {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-button:hover {
  background: linear-gradient(to right, #ff9966, #ff5e62);
}
